---
import MenuCard from "../components/ui/menu-card.astro";
import { menuItems } from "../data/menu";
---

<section id="menu" class="py-20 bg-moto-dark-gray">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-4 mt-8">
      <h2
        class="text-4xl font-bold text-moto-white uppercase tracking-tighter italic"
      >
        Nuestro <span class="text-moto-red">Menú</span>
      </h2>
      <div class="h-1 w-20 bg-moto-red mx-auto transform -skew-x-12"></div>
    </div>
    {
      menuItems.map((section) => (
        <div class="py-4">
          <span class="text-4xl font-bold text-moto-white hover-anim hover:text-moto-red">
            {section.name}
          </span>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pt-4">
            {section.items.map((item) => (
              <MenuCard
                src={item.src}
                alt={item.alt}
                title={item.name}
                tags={item.tags}
                price={item.price}
                description={item.description}
              />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
