---
const { src, alt, title, subtitle, description, tags, price } = Astro.props;
import { tagIcons, defaultIcon } from "../../data/tag-icons";
---

<div
  class="bg-moto-black/30 backdrop-blur-sm block max-w-sm border border-moto-black shadow-md rounded-xl"
>
  <img class="rounded-t-xl" src={src.src || src} alt={alt} />
  <div class="p-6 text-center">
    <div class="flex flex-wrap gap-2 justify-center mb-4">
      {
        tags &&
          tags.map((tag: string) => (
            <span class="inline-flex items-center bg-brand-softer border border-brand-subtle text-fg-brand-strong text-xs font-medium px-1.5 py-0.5 rounded-sm">
              <svg
                class="w-3 h-3 me-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d={tagIcons[tag] || defaultIcon}
                />
              </svg>
              {tag}
            </span>
          ))
      }
    </div>
    <div class="flex flex-col mb-6">
      <h5 class="text-2xl font-semibold tracking-tight text-heading">
        {title}
      </h5>
      <span class="text-moto-red text-xl">{subtitle}</span>
    </div>
    <p class="mb-6 text-base text-center text-fg-neutral-strong">
      {description}
    </p>
    <span
      class="inline-flex font-bold items-center justify-center text-white bg-brand box-border border shadow-xs rounded-lg text-xl px-4 py-2.5"
    >
      ${price}
    </span>
  </div>
</div>
