---
import { Icon } from "astro-icon/components";
const { src, alt, name, description, icon } = Astro.props;
const iconName = icon ? (icon.includes(":") ? icon : `fa6-brands:${icon}`) : "";
---

<a
  href="#"
  class="flex flex-col items-center bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl"
>
  {
    icon ? (
      <Icon class="size-6" name={iconName} />
    ) : (
      <img
        class="object-cover w-full rounded-base h-64 md:h-auto md:w-48 mb-4 md:mb-0"
        src={src}
        alt={alt}
      />
    )
  }
  <div class="flex flex-col justify-between md:p-4 leading-normal">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight uppercase italic transform -skew-x-12 text-moto-red"
    >
      {name}
    </h5>
    <p class="mb-6 text-body text-moto-white">
      {description}
    </p>
  </div>
</a>
